*.o
*.out
*.obj
*.elf
*.exe
*.a
*.so
*.dll
*.dylib

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

build.ninja
.ninja_deps
.ninja_log

*.gcno
*.gcda
*.gcov

/build/
/bin/
/lib/K
/dist/
/tmp/
/*.log

.idea/
*.iml

*~
*.swp
*.bak
*.tmp
*.orig
*.rej

core
core.*

.DS_Store

/tests_output/
*.testlog
